body {
    background: linear-gradient(0deg,#E5FCC2,   #9DE0AD,#45ADA8,#547980,#594F4F );
    text-align: center;
    
}


h1 {
  background-color:#5A4D4C; 
  text-transform: uppercase;
  color: white;
  padding: 15px 15px;
  text-align:center;
  margin-bottom: 100px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px #9DE0AD
}

button {
  margin-top: 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #5A4D4C;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #4F728E ;
  border-radius: 4px;
}



table {
    background-color: #5A4D4C;
    height: 100%;
    width: 0%;
    text-align: center; 
    margin: auto;
    border-spacing: 12px;
    margin-top:0px;
    box-shadow: 0 5px 15px #9DE0AD ;
    
    
    
}

.game {
    background-color: white;
    border-radius: 50%;
    margin-top: 12px;
      
}

td {
    width: 100px;
  height: 100px;
    margin: top;
}

#game1 {
    width: 100px;
  height: 100px;
   
}

#game2 {
     width: 100px;
  height: 100px;

}

#game3 {
    width: 100px;
  height: 100px;

}


#game4 {
    width: 100px;
  height: 100px;

}

#game5 {
    width: 100px;
  height: 100px;

}

#game6 {
     width: 100px;
  height: 100px;
}

#game7 {
     width: 100px;
  height: 100px;

}

#game8 {
    width: 100px;
  height: 100px;

}

#game9 {
   width: 100px;
  height: 100px;

}

#game10 {
   width: 100px;
  height: 100px;

}

#game11 {
    width: 100px;
  height: 100px;
}

#game12 {
 width: 100px;
  height: 100px;
}

#game13 {
   width: 100px;
  height: 100px;

}

#game14 {
     width: 100px;
  height: 100px;

}

#game15 {
    width: 100px;
  height: 100px;

}

#game16 {
   width: 100px;
  height: 100px;

}

.green {
 background-color: #9DE0AD;
}

.blue {
    background-color: #4F728E ;
}

